#about {
  padding-block: 60px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  color: #111;
  /* background: linear-gradient(to left, #080c0f, #33353a);  ini background gelap sebelumnya*/
  background-color: rgba(255, 255, 255, 0, 0);
}
#about h1 {
  color: #1f1f1f;
}
#about h2 {
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 0.025em;
  font-size: clamp(2rem, 1.8125rem + 0.75vw, 2.6rem);
  margin-bottom: 2rem;
}

#about a {
  display: inline-block;
  text-decoration: none;
}

#about .container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}
#about .container .card:nth-child(1) .box .icon .iconBox {
  background: #d3b19a;
}
#about .container .card:nth-child(2) .box .icon .iconBox {
  background: #70b3b1;
}
#about .container .card:nth-child(3) .box .icon .iconBox {
  background: #ce0a0a;
}
#about .card {
  background: #e9e7e7dc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.7);
  flex: 1 1 calc(33.333% - 2rem);
  max-width: calc(33.333% - 2rem);
}

#about .card-inner {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

#about .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#about .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about .icon {
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 60px;
  height: 60px;
  background: var(--clr);
  border-top-left-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.7s;
}

#about .iconBox {
  background: #282828;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .icon:hover .iconBox {
  transform: scale(1.3);
}

#about .content-about {
  padding: 1rem;
}

#about .content-about h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#about .content-about p {
  color: #565656;
  margin-bottom: 1.25rem;
}

#about ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

#about li {
  text-transform: uppercase;
  background: var(--clr-tag);
  color: #282828;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0.375rem 0.625rem;
  border-radius: 0.188rem;
}

.branding {
  color: #704a31;
}

.packaging {
  color: #1e3938;
}

.marketing {
  color: #141414;
}
#about .container .card-inner .box .icon .iconBox span {
  color: #ffffffdc;
  font-size: 1.5rem;
}

/* Fallback for Material Symbols Outlined */
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v183/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2)
    format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 768px) {
  #about .content-about p {
    display: none;
  }
}

@media (max-width: 768px) {
  #about .card {
    flex-basis: 100%; /* Mengatur setiap card memiliki basis flex 100% */
    max-width: 100%; /* Membuat setiap card memiliki lebar maksimum 100% */
  }
}
