/* Dashboard Section */
#dashboard {
  width: 100%;
  height: 100vh; /* Menyesuaikan dengan viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #080c0f, #33353a);
}

/* Atur iframe agar memenuhi kontainer */
iframe {
  width: 100%;
  height: 100%;
  border: none; /* Hilangkan border jika ada */
  border: 2px solid #ccc; /* Border tipis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek bayangan */
  border-radius: 5px;
  /* height: calc(100% - 60px);  ini digunakan jika.. ingin menyisipkan sesuatu kedalam tag iframe */
}
.click-button {
  margin-top: 3px; /* Spasi antara iframe dan tombol */
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px #0056b3;
  outline: none;
  transition: all 0.3s ease;
}

.click-button:active {
  box-shadow: 0 2px #0056b3;
  transform: translateY(3px);
}
.click-button:hover {
  background-color: #ff7f50; /* Warna oranye saat dihover */
}
