/* Feedback section */

#feedback {
  padding: 50px 0; /* Tambahkan padding agar tidak bertabrakan dengan section di atasnya */
  background: linear-gradient(to left, #080c0f, #33353a);
}

.name-fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap; /* Memastikan elemen dalam .name-fieldset dapat wrap saat lebar layar terlalu kecil */
  gap: 20px;
}

.input-group {
  flex: 1; /* Menggunakan flexbox untuk memastikan elemen .input-group mengisi ruang yang tersedia */
}

.input-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  font-weight: 800;
}

.input-group input,
.input-group textarea {
  width: 100%; /* Menggunakan width 100% agar sesuai dengan parentnya */
  padding: 20px;
  border: 10px solid #ddd;
  border-radius: 5px;
  box-shadow: #ff99cc rgba(214, 145, 220, 0.2);
}

.input-group textarea {
  height: 200px;
}

.input-group button {
  width: 100%; /* Menggunakan width 100% agar sesuai dengan parentnya */
  background: #141414;
  color: #e5d3d3;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none; /* Menghapus border agar tampil lebih rapi */
}

.input-group button:hover {
  background: #191918;
}
