.home {
  position: relative;
  max-width: 100%;
  height: 60vh;
  margin-top: 50px;
  background-image: url("https://i.ibb.co.com/ccTfnrL/NYC-01after.webp"); /* Ganti dengan URL gambar  */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  opacity: 0; /* Mulai dengan elemen tersembunyi */
  transition: opacity 0.5s ease-in-out;
}
.home.loaded {
  opacity: 1;
}
.home-content {
  max-width: 45%;
  color: white;
  margin-left: 50px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.home h1 {
  font-size: 48px;
  margin: 0;
}

.home p {
  font-size: 14px;
  margin: 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.home button {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #ff6600;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 8px;
}
.bounce {
  -webkit-animation: bounce 0.75s infinite;
}

.home button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  background-color: #2c92d5;
}

/* .home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/home_sec.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: revealImage 2s forwards;
} */

.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.home-content {
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .home {
    height: auto; /* Mengubah tinggi menjadi otomatis */
    padding: 50px 20px; /* Menambahkan padding pada layar kecil */
    text-align: center; /* Mengatur penataan teks menjadi tengah */
  }

  .home-content {
    max-width: 60%; /* Mengubah lebar maksimum menjadi 100% */
    margin: 0 auto; /* Mengatur margin menjadi auto untuk penempatan tengah */
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1, 0.8) translate(0px, 10px);
  }

  75% {
    transform: scale(1, 1.1) translate(0px, -15px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}
