* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background: linear-gradient(to left, #080c0f, #33353a);
  margin-bottom: 3px;
  padding: 0;
  width: 100%;
}
h1 {
  color: #fff;
}

/* Navigation */
.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(156, 148, 148, 0.5); /* Ganti sesuai kebutuhan */
  z-index: 1000; /* Pastikan z-index nya lebih tinggi dari elemen lain jika diperlukan */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Efek bayangan untuk memberi kesan mengambang */
  backdrop-filter: blur(10px);
}

.nav-header img {
  max-width: 100px;
  height: 40px;
}

#menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li {
  margin-right: 20px;
}

#menu li:last-child {
  margin-right: 0px; /* Menghapus margin-right pada elemen terakhir */
}

nav li a {
  color: rgb(13, 26, 38);
  font-size: 0.89em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

nav li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(236, 236, 236);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animasi garis loh beb */
nav li a:before,
nav li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: #e6a630;
}

nav li a:before {
  left: 0;
  transition: 0.5s;
}

nav li a:after {
  background: #e6a630;
  right: 0;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

nav li a:hover:before {
  background: #e6a630;
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

nav li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}

/* Sections */
section {
  height: 100%;
}

/* Footer */
footer {
  width: 97, 8%;
  background: linear-gradient(to left, #5ba8e2, #2c92d5);
  color: #fff;
  padding: 1rem;
  margin-bottom: 3px;
  font-size: 13px;
  line-height: 30px;
}
.row {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#branch {
  margin-top: 5%;
}

.footer_logo {
  width: 90px;
}
.footer_about {
  position: relative;
  top: -23px;
}

footer .row p {
  text-align: left;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
}

.footer_email {
  width: fit-content;
  border-bottom: 1px solid #f66335;
  margin: 20px 0;
}
.col ul li {
  list-style: none;
  margin-bottom: 12px;
  text-align: left;
}

.col ul li a {
  text-decoration: none;
  color: #fff;
}

.col .social_icons .social_icon {
  line-height: 20px;
  font-size: 10px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
.social_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 10px;
}
.social_icons img {
  max-height: 50px;
  max-width: 50px;
}

.thanks-logo {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Memusatkan secara horizontal */
  align-items: center;
}
hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
footer .copyright {
  text-align: center;
}
.bottom_line {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.bottom_line span {
  width: 15px;
  height: 100%;
  background: #f66335;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moveline 2s linear infinite;
}
@keyframes moveline {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
/* testing parallax */
