* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background: linear-gradient(to left, #5a5d64, #e0e2e7);
  /* background: linear-gradient(to left, #080c0f, #33353a); */
  margin-bottom: 3px;
  padding: 0;
  width: 100%;
}
h1 {
  color: #fff;
}

/* Navigation */
.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(35deg, #1f1f1f, #095f86);

  /* background: linear-gradient(
    35deg,
    #65c0eb,
    rgb(236, 235, 235)
  ); warna sebelumnya #1f1f1f */
  z-index: 1000; /* Pastikan z-index nya lebih tinggi dari elemen lain jika diperlukan */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Efek bayangan untuk memberi kesan mengambang */
  backdrop-filter: blur(10px);
}

.nav-header img {
  max-width: 100px;
  height: 40px;
}

#menu {
  display: flex;
  list-style: none;
  margin-right: 10px;
  padding: 0;
  font-weight: bolder;
}

#menu li {
  margin-right: 20px;
}

#menu li:last-child {
  margin-right: 0px; /* Menghapus margin-right pada elemen terakhir */
}

nav li a {
  color: rgb(13, 26, 38);
  font-size: 0.89em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

nav li a:hover {
  color: #65c0eb;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animasi garis loh beb */
nav li a:before,
nav li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: #e6a630;
}

nav li a:before {
  left: 0;
  transition: 0.5s;
}

nav li a:after {
  background: #e6a630;
  right: 0;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

nav li a:hover:before {
  background: #e6a630;
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

nav li a:hover:after {
  background: transparent;
  width: 100%;
}
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger div {
  width: 25px; /* ini untuk panjang garis burger menu*/
  height: 3px; /* ini untuk lebar garis burger menu*/
  background-color: rgb(239, 239, 240);
  margin: 4px;
  transition: all 0.3s ease;
  margin-right: 30px;
}

@media (max-width: 768px) {
  #menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(128, 130, 131, 0.8);
    z-index: 999;
    text-align: left;
    backdrop-filter: blur(10px); /* Menambahkan efek blur untuk efek kaca */
  }

  #menu li {
    margin: 10px 0;
  }

  .burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .burger.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.active div:nth-child(2) {
    opacity: 0;
  }

  .burger.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  #menu.active {
    display: flex;
  }
}

/* Sections */
section {
  height: 100%;
}

/* Footer */
footer {
  width: 97, 8%;
  /* background: linear-gradient(to left, #5ba8e2, #2c92d5); */
  background: linear-gradient(35deg, #1f1f1f, #095f86);
  color: #fff;
  padding: 1rem;
  margin-bottom: 3px;
  font-size: 13px;
  line-height: 30px;
}
.row {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 100%; /* Membuat satu col per baris */
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col button {
  margin-top: 10px;
}

#branch {
  margin-top: 5%;
}

.footer_logo {
  width: 90px;
}
.footer_about {
  position: relative;
  top: -23px;
}

footer .row p {
  text-align: left;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
}

.footer_email {
  width: fit-content;
  border-bottom: 1px solid #f66335;
  margin: 20px 0;
}
.col ul li {
  list-style: none;
  margin-bottom: 12px;
  text-align: left;
}

.col ul li a {
  text-decoration: none;
  color: #fff;
}

.col .social_icons .social_icon {
  line-height: 20px;
  font-size: 10px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
.social_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 10px;
}
.social_icons img {
  max-height: 50px;
  max-width: 50px;
}

.thanks-logo {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Memusatkan secara horizontal */
  align-items: center;
}
hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
footer .copyright {
  text-align: center;
}
.bottom_line {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.bottom_line span {
  width: 15px;
  height: 100%;
  background: #f66335;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moveline 2s linear infinite;
}
@keyframes moveline {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

@media (min-width: 768px) {
  .col {
    flex-basis: 30%; /* Mengatur tata letak kolom kembali ke tiga per baris pada layar yang cukup lebar */
  }
}

/* sticky button */
.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-feedback {
  width: 50px;
  height: 50px;
  background-color: #095f86;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-bubble {
  background-color: #00458f;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: none;
  position: absolute;
  bottom: 70px; /* Position the bubble above the button */
  right: 0;
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-bubble::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: #00458f transparent transparent transparent;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}

.modal.show {
  display: flex;
  opacity: 1;
}

/* .modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

.modal-content {
  background-color: #007bff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  overflow: hidden;
  animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  background-color: #e2e5e7;
}
.modal-title fs-5 {
  color: #333;
}

.modal-body {
  position: relative;
  padding: 1rem;
  text-align: center;
}

.modal-logo .logo {
  max-width: 100px;
  margin: 0 auto 10px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
}

.btn-close {
  border: none;
  background: none;
  font-size: 1.5rem;
  line-height: 1;
  color: #000;
  opacity: 0.5;
  cursor: pointer;
}

.btn-close:hover {
  color: #000;
  opacity: 0.75;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.mb-3 {
  margin-bottom: 1rem;
  text-align: left;
} */

@media (max-width: 576px) {
  .modal-dialog {
    margin: 1rem;
  }
}
