/* Initiate Body Styling */
body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: #9e9ea4;
  font-family: "Montserrat", sans-serif;
}

/* Reset Heading Style */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.main-container {
  padding: 20px;
}

.main-title > img {
  width: 100%;
  height: auto;
}

.cards-overview {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.cards-overview > div {
  flex: 1 1 250px;
  margin: 6px;
  color: black;
}

.card {
  background-color: white;
  padding: 10px 12px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Second Cards Styling */
.second-cards {
  display: flex;
  flex-wrap: wrap;
}

.second-cards > .card-report {
  flex: 1 1 49%;
  margin: 20px 6px;
}

.card-report-header {
  border: 1px solid white;
  padding: 4px;
  margin-bottom: 4px;
  color: rgb(44, 122, 177);
  text-align: center;
}

.card-report > .card {
  height: 250px;
}
