/* Variabel CSS */
:root {
  --main-color: #e6a630;
  --secondary-color: #ababab;
  --text-color: #dbdbdb;
  --background-color: #eee;
}

/* Struktur utama */
#team {
  width: 100%;
  height: 100vh;
  margin: 10px 0 100px 0;
}

.team-container {
  position: absolute;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  box-shadow: 0px 40px 40px rgba(118, 78, 10, 0.91);
}

/* Elemen tim */
.team-slide .team-item {
  width: 170px;
  height: 250px;
  position: absolute;
  transform: translate(100%, 100%);
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(117, 117, 117, 0.83);
  background-position: 50% 55%;
  background-size: 100%;
  display: inline-block;
  transition: 0.4s;
}

.team-slide .team-item:nth-child(1),
.team-slide .team-item:nth-child(2) {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transform: translate(0, 0);
  background-size: cover;
}

.team-slide .team-item:nth-child(3) {
  left: 40%;
  background-size: cover;
  opacity: 0;
}

.team-slide .team-item:nth-child(4) {
  left: calc(40% + 200px);
  background-size: cover;
}

.team-slide .team-item:nth-child(5) {
  left: calc(40% + 400px);
  background-size: cover;
}

.team-slide .team-item:nth-child(n + 6) {
  left: calc(30% + 530px);
  background-size: cover;
  opacity: 0;
}

/* Konten tim */
.team-item .team-content {
  position: absolute;
  top: 50%;
  left: 50px;
  width: 300px;
  text-align: left;
  color: var(--background-color);
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}

.team-slide .team-item:nth-child(2) .team-content {
  display: block;
}

.team-content .content-name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.team-content .content-description {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.team-content button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid var(--main-color);
  color: var(--text-color);
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.5s 1 forwards;
  background: transparent;
}

.team-content button:hover {
  color: #000;
  background: var(--main-color);
  font-weight: bold;
  border: none;
}

/* Animasi */
@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.team-content .content-deskription {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animateDescription 1s ease-in-out 0.3s 1 forwards;
}

@keyframes animateDescription {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tombol tim */
.team-button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.team-button button {
  width: 50px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid var(--main-color);
  cursor: pointer;
  margin: 0 5px;
  transition: 0.3s;
  background: transparent;
  color: var(--secondary-color);
}

.team-button button:hover {
  background: var(--secondary-color);
  color: #000;
  border: none;
}

/* Media queries untuk perangkat tablet */
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .team-item .team-content {
    left: 20%;
    top: 40%;
    width: 60%;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
  }

  .team-button button:hover {
    background: #3d3d3d;
    color: #c6c6c6;
    border: none;
  }

  .team-container {
    width: 100%;
    height: 100%;
  }

  .team-container .team-slide .team-item {
    width: 170px;
    height: 250px;
    transform: translate(10%, 100%);
    transition: 0.8s;
  }

  .team-slide .team-item:nth-child(1),
  .team-slide .team-item:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(0, 0);
  }

  .team-slide .team-item:nth-child(3) {
    left: 8%;
    bottom: 30%;
  }

  .team-slide .team-item:nth-child(3):hover {
    width: 175px;
    height: 260px;
  }

  .team-slide .team-item:nth-child(4) {
    left: calc(12% + 200px);
    bottom: 30%;
  }

  .team-slide .team-item:nth-child(5) {
    left: calc(18% + 400px);
    bottom: 30%;
  }

  .team-slide .team-item:nth-child(n + 6) {
    left: calc(5% + 530px);
    bottom: 30%;
    opacity: 0;
  }
}

/* Media queries untuk perangkat mobile */
@media screen and (max-width: 767px) {
  .team-item .team-content {
    left: 15%;
    top: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(224, 224, 224, 0.93);
  }

  .team-container .team-slide .team-item {
    width: 110px;
    height: 130px;
    transform: translate(5%, 135%);
  }

  .team-slide .team-item:nth-child(1),
  .team-slide .team-item:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(0, 0);
  }

  .team-slide .team-item:nth-child(3) {
    left: 10px;
    bottom: 30%;
  }

  .team-slide .team-item:nth-child(4) {
    left: calc(15px + 125px);
    bottom: 30%;
  }

  .team-slide .team-item:nth-child(5) {
    left: calc(25px + 240px);
    bottom: 30%;
  }

  .team-slide .team-item:nth-child(n + 6) {
    left: calc(5% + 10px);
    bottom: 30%;
    opacity: 0;
  }
}
