@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #f0f0f0;
  background-image: url(/assets/NYC-01.webp);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(30px);
  padding: 20px 0 90px;
  margin: 0;
}

.kaurukaanibox {
  display: flex;
  gap: 20px;
  margin: auto;
  max-width: 900px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}
.kaurukaanibox p.sinop {
  width: calc(100% - 250px);
  font-size: 13px;
  line-height: 26px;
}
.kaurukaanibox p.sinop b {
  display: block;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 11px;
  border-bottom: 2px solid #eee;
  text-transform: uppercase;
}
.kaurukaanibox p.sinop b:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 80px;
  background: rgb(99 77 235);
}
.kaurukaanibox .a-info {
  position: relative;
  z-index: 1;
  display: flex;
  padding: 10px 15px 15px;
  max-width: 250px;
  background: rgb(131 131 131 / 10%);
  flex-wrap: wrap;
  gap: 15px;
  align-content: flex-start;
  margin-bottom: auto;
}
.kaurukaanibox .a-info strong {
  display: block;
  width: 100%;
  padding: 9px 10px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: rgb(99 77 235);
}
.kaurukaanibox .a-info img {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  color: #333;
  font-weight: bold;
  position: relative; /* Position the `<th>` cells relatively */
  vertical-align: top; /* Align the `<th>` text vertically with the top edge */
  white-space: wrap; /* Prevent word wrapping in `<th>` cells */
}

@media only screen and (max-width: 640px) {
  body {
    padding: 50px 5px 100px;
  }
  .kaurukaanibox {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .kaurukaanibox .a-info strong,
  .kaurukaanibox p.sinop {
    width: calc(100% - 0px);
  }
  .kaurukaanibox .a-info strong {
    font-size: 16px;
    border-radius: 6px;
    font-weight: 400;
  }
  .kaurukaanibox .a-info {
    padding: 0;
    max-width: 100%;
    background: transparent;
  }
  .kaurukaanibox .a-info img {
    max-width: 100px;
    margin: auto;
  }
  .kaurukaanibox table {
    position: initial;
    background: rgb(131 131 131 / 10%);
    width: 100%;
    padding: 15px !important;
    border-radius: 6px;
  }
}

.nav-header img {
  max-width: 90px;
  height: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-header img:hover {
  background-color: #c5c6c7;
  border-radius: 12px;
}
.nav-main {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}
img {
  max-width: 90%;
  max-height: 50;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
